name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24.x"
      - name: Install Packages
        run: |
          npm i -f
      - name: Lint
        run: |
          npm run lint
      - name: Build
        run: |
          npm run build
